.err {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 300px; 
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}